<% if user_signed_in? %>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <%= link_to t('views.common.book_index'), books_path,
        class: "nav-link text-secondary" %>
    </li>
    <li class="nav-item">
      <%= link_to t('views.common.user_index'), users_path,
        class: "nav-link text-secondary" %>
    </li>
    <li class="nav-item">
      <%= link_to t('views.common.user_edit'), edit_user_registration_path,
        class: "nav-link text-secondary" %>
    </li>
    <li class="nav-item">
      <%= link_to t('views.common.log_out'), destroy_user_session_path, method: :delete,
        class: "nav-link text-secondary" %>
    </li>
  </ul>
<% end %>
